<div fxLayout="row">
  <div><ng-content></ng-content></div>
  <span fxFlex></span>
  <div fxLayoutAlign="end start">
    <button (click)="onClickCreate()" mat-icon-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
    <button (click)="onClickExcel()" mat-icon-button color="primary">
      <mat-icon>download</mat-icon>
    </button>
  </div>
</div>
<ag-grid-angular
  class="ag-theme-material mean-grid"
  [columnDefs]="colDefs"
  [rowData]="rowData$ | async"
  (gridReady)="gridReady($event)"
></ag-grid-angular>
